{% extends "admin.html" %}
{% block title %}Diabetes-Diagnosis-Records{% endblock %}

 {% block admin %}
 <div class="diab-tab" style="margin-top: 100px; justify-self: center;">
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>Age</th>
            <th>Doctor</th>
            <th>Insulin</th>
            <th>Diagnosis</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record.id }}</td>
            <td>{{ record.name }}</td>
            <td>{{ record.age }}</td>
            <td>{{ record.doctor }}</td>
            <td>{{ record.insulin }}</td>
            <td>{{ record.diab_diagnosis }}</td>
        </tr>
        {% endfor %}
    </table>
    <p style="text-align: center;">
    <button class="print-btn" onclick="window.print()" >Print Records</button>
    </p>
</div>
{% endblock %}