{% extends "Doc.html" %}
{% block title %}Kidney-Diagnosis-Records{% endblock %}
{% block p %}Kidney Diagnosis Records{% endblock %}
{% block section %}
    <div class="kid-tab" style="margin-top: 210px;"> 
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>Age</th>
            <th>Doctor</th>
            <th>Blood Glucose</th>
            <th>Diagnosis</th>
            
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record.id }}</td>
            <td>{{ record.name }}</td>
            <td>{{ record.age }}</td>
            <td>{{ record.doctor }}</td>
            <td>{{ record.blood_glucose }}</td>
            <td>{{ record.kidney_diagnosis }}</td>
        </tr>
        {% endfor %}
    </table>
<p style="text-align: center;">
<button class="print-btn" onclick="window.print()">Print Records</button>
</p>
</div>
{% endblock %}
