{% extends "index.html" %}
{% block title %}Login{% endblock %}

{% block p %}Be Honest. Your details are confidential and secure{% endblock %}
{% block content %}
    
<div class="login-cont">

    <div class="admin-btn" style="justify-self: center; padding: 10px; cursor: pointer;">
        <p>
            <button style="background-color: green; padding: 10px; border-radius: 10px; border: 2px solid black;">
                <a href="/admin" style="text-decoration: none; color: white;">Admin</a>
            </button>
        </p>
    </div>
    <div class="login">
    <fieldset style="border: 2px solid black;">
        <form action="/login" method="post">
            <img src="{{url_for('static',filename='logoR.jpg')}}" alt="Logo"><br>
            <p>
            <input type="email" name="email" id="email" placeholder="Email Address" required><br><br>
            <input type="password" name="password" id="password" placeholder="Password" required><br><br>
            </p>
            <input type="submit" name="login" value="Login" id="Login"><br><br>
        </form>
    </fieldset>
</div>
</div>
{% endblock %}





