<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<body>
    <p style="text-align: center;">
        <button style="background-color: green; border: 2px solid black; padding: 10px; border-radius: 10px;">
            <a href="/self_diag_records" style="text-decoration: none; color: white;">Back</a>
        </button>
    </p>
    <div class="self-record" style="justify-self: center; border: 2px solid black; border-radius: 10px; padding: 10px;">
        {% if record %}
    <p style="text-align: center;"><b>Patient:</b>{{ record.id }}</p>
    <hr style="border: 2px solid black;">
    <p><b>Name:</b>{{ record.name }}</p>
    <p><b>Email:</b>{{ record.email }}</p>
    <p><b>Disease:</b>{{ record.diagnosis }}</p>
    <p><b>Description:</b>{{ record.description }}</p>
        {% endif %}
            <p style="text-align: center;">
                <button class="print-btn" onclick="window.print()">Print Records</button>
            </p>
    </div>
</body>
</html>